body {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: #121212;
  color: #eee;
}

body.dark-mode table.table {
  background-color: #222;
  color: #eee;
}

body.dark-mode table.table thead.table-dark {
  background-color: #333;
}

body.dark-mode .btn-success {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
}

body.dark-mode .btn-outline-secondary {
  color: #eee;
  border-color: #eee;
}

body.dark-mode .btn-outline-secondary:hover {
  background-color: #eee;
  color: #121212;
}

body.dark-mode .badge.bg-warning {
  background-color: #ffc107;
  color: #121212;
}
body.dark-mode .badge.bg-success {
  background-color: #198754;
  color: white;
}
body.dark-mode .badge.bg-danger {
  background-color: #dc3545;
  color: white;
}